
{% extends "::layout.html.twig"%}
{% block body  %}
<div class="container">
                       <div class="bg-faded p-4 my-4">

                                <a href="#"><img class="img-fluid float-left mr-4 d-none d-lg-block" src="../img/intro-pic.jpg" alt=""></a>
                                <p>  {{cc.nom}} </p>
                                <p> {{cc.prix}} $ </p>
                                <p> {{cc.description}} </p>
                                <p>
                                <form action="{{ path("ajouterpanier",{id: cc.id})}}" method="get">
                                <select name='qte'class="span1">
                                {%for i in 1..10%}
                                <option value= '{{i}}'>{{i}} </option>
                                {%endfor%}
                                </select>
                                <p><button class='btn btn-primary'>Ajouter au panier</button></p>
                                </p>
                                </form>
                       </div>





 {% endblock %}
